.event--wrapper {
    background-color: transparent;
    padding: 50px 30px 30px 30px;
    min-width: calc(100vw - 320px);
    display: flex;
    flex-direction: column;
    gap: 22px;

    &--top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #444655;
            font-size: 26px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
        }
    }

    &--menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        &--rout {
            display: flex;
            align-items: center;
            gap: 20px;

            &--link{
                display: flex;
                width: 210px;
                height: 50px;
                padding: 0px 10px;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                background: #FFF;
                color: #84828A;
                font-size: 18px;
                font-weight: 500;
                transition:  .5s ;

                &:hover {
                    color:#FFF;
                    background: #d8cafb;
                }
            }

            .flex{
                display: flex;
                align-items: center;
                gap:10px;
            }

            .router-link-exact-active{
                color:#FFF;
                background: #B79BFF; 
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 194px;
            height: 50px;
            border: none;
            border-radius: 15px;
            background: #0079FE;
            color:#FFF;
            cursor:pointer;
            transition: .5s;
            font-size: 18px;
            font-weight: 500;

            &:hover {
                background: #0066CC;
            }
        }
    }
}